
body{
    background-color:blue;
background-image: url('C:\Users\deepikasingh\Desktop\892448-amazing-weather-wallpapers-1920x1080-for-windows-10.jpg');
background-size:cover;
background-repeat: repeat;
width: 100%;
height: 100%;
} 
 





form{

 max-width: 30em;
 margin: 4em auto;
 position: relative;
    background: rgba(64, 111, 114, 0.4);
    padding: 2em 3em;
    overflow: hidden;
}

input{ 
    width: 70%; 
    
    padding: 12px 20px 2px 2px; 
}

form button{
    
}
form h3{
    font-family: "Raleway";
    color:blue; 
}
form input[type=text]::placeholder{
   font-family: "Raleway";
   color:#666; 
}
form .data{
    margin-top: 1em;
}